# DAPLink / CMSIS-DAP + STM32H7

adapter driver cmsis-dap

# DAPLink 后端，先用 auto
cmsis-dap backend auto
# cmsis-dap backend hid
# cmsis-dap backend usb_bulk

transport select swd

# 先保守一点
adapter speed 1000

# STM32H7 目标芯片，只能 source 一次
source [find target/stm32h7x.cfg]

# 不使用外部 NRST，走软件复位
reset_config none
cortex_m reset_config sysresetreq